doctype html
html
    head
        title="Mousehunt++"
        link(rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css")
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js")
        script(src="/javascripts/Misc.js" type='text/javascript' language="JavaScript")
        script(src="/javascripts/Essence.js" type='text/javascript' language="JavaScript")
        script(src="/javascripts/Time.js" type='text/javascript' language="JavaScript")
        link(rel="stylesheet" href="/stylesheets/stylesheet.css")
        //script(src="/javascripts/jquery-1.7.1.min.js" type='text/javascript' language="JavaScript")
        //script(src="/javascripts/jquery.mobile-1.0.1.js" type='text/javascript' language="JavaScript")
        //script(src="/javascripts/jquery.mobile-1.0.1.min.js" type='text/javascript' language="JavaScript")

    body(onload="initialization()")

        block content